
<form (ngSubmit)="enviar(f)" #f="ngForm">
    <label>Entidad</label>
    <input name='entidad' ngModel required minlength="4" maxlength="4" size="4">
    <label>Sucursal</label>
    <input name='sucursal' ngModel required minlength="4" maxlength="4" size="4">
    <label>DC</label>
    <input name='dc' ngModel required minlength="2" maxlength="2" size="2">
    <label>Cuenta</label>
    <input name='cuenta' ngModel required minlength="10" maxlength="10" size="10">
    <button [disabled]="f.invalid">Enviar</button>
</form>

