 
<div class="container">
 
  <div class="starter-template">

    <div class="row">      	

      <div class="col-md-12 mt-5">

        <h1>{{solicitudComedor}}</h1>
        <h2>Nueva Solicitud</h2>
  
                <div class="mb-3 mt-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input (keyup)="actualizarNombre($event)"  [value]="solicitud.nombre" type="solicitud.nombre" class="form-control" id="solicitud.nombre" placeholder="Introduce Nombre" name="solicitud.nombre">
                </div>                    
       
                <div class="mb-3 mt-3">
                  <label for="apellidos" class="form-label">Apellidos:</label>
                  <input (keyup)="actualizarApellidos($event)" [value]="solicitud.apellidos" type="solicitud.apellidos" class="form-control" id="solicitud.apellidos" placeholder="Introduce Apellidos" name="solicitud.apellidos">
                </div>

                <div *ngIf="solicitud.nombre.length < 5">El nombre tiene que ser mayor de 5 caracteres</div>
                
                <h2>Centro</h2>
                  <app-selector-centro></app-selector-centro>
                <h3>Solicitudes</h3>
                <div *ngFor="let solicitud of solicitudes">
                      <ul>
                        <li>
                          <span>{{solicitud.nombre}} {{solicitud.apellidos}}</span>
                        </li>
                      </ul>
                  </div>
              
           

                <div>
                  <button (click)="enviar(solicitud)" type="submit" class="btn btn-primary">Enviar</button>  
                </div>

                <button (click)="nuevaSolicitud()">Nueva Solicitud</button>
                <div>

                  
                </div>
       </div>
    </div>
  </div>
</div>


